/* a nice looking colourscheme from coolors.co */
/* #CAE7B9 #F3DE8A #EB9486 #7E7F9A #97A7B3 */
/* tea green, muted buff yellow, muted vivid tangerine, grey/blue rhythm, cadet grey*/

body {
    background-color: #CAE7B9;
    color: #7E7F9A;
}

h1, h2 {
    color: #EB9486;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

span {
    font-weight: bold;
}

footer {
    color: #97A7B3;
    font-size: small;
}
